@CHARSET "UTF-8";

body {
    padding-top: 56px;
    padding-bottom: 0px;
    background: url(/img/patterns/light_wool.png) repeat;
}

h3 code {
    font-size: 24px;
}

footer {
    background: url(/img/patterns/noisy.png) repeat;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin-top: 40px;
    padding: 40px 0;
    color: #777777;
}

footer a {
    color: #777777;
}

footer a:hover {
    color: #777777;
    text-decoration: underline;
}

footer .container {
    padding: 0px 8px;
}

footer h4 {
    color: #468847;
}

hr {
    margin-top: 8px;
    margin-bottom: 18px;
    border-top-color: #ccc;
}

img.pull-right {
    margin-left: 20px;
    margin-bottom: 20px;
}

.table input, .table select {
    margin-bottom: 0px;
}

.well {
    padding: 10px;
}

.hero-unit, .carousel {
    background: url(/img/patterns/noisy.png) repeat;
}

.carousel {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
    border: 1px solid #cccccc;
}

.carousel .item {
    padding: 10px 60px;
}

.carousel-control {
    margin-top: 0px;
}

.pagination ul {
    background-color: #ffffff;
}

.table {
    background-color: #ffffff;
}

.table thead {
    background-color: #eeeeee;
}

.carousel-table td {
  padding: 20px;
  line-height: 20px;
  text-align: left;
  vertical-align: middle;
}

.pull-center {
    text-align: center;
}

.sidebar {
    padding-top: 20px;
}

.navbar-inner {
    background: url(/img/patterns/noisy.png) repeat;
}

.navbar-inner:before,.navbar-inner:after {
    display: table;
    content: "";
    line-height: 0;
}

.navbar .brand {
    color: #468847;
    font-weight: bold;
}

@media ( max-width : 979px) {
    .navbar-fixed-top,.navbar-fixed-bottom {
        position: fixed;
    }
    .navbar-fixed-top .navbar-inner,.navbar-fixed-bottom .navbar-inner {
        padding: 0px;
    }
    .navbar .container {
        width: 724px;
    }
    .nav-collapse .dropdown-menu {
        margin-left: 50px;
    }
}

@media ( max-width : 767px) {
    body {
        padding-left: 15px;
        padding-right: 15px;
    }
    footer {
        margin-left: -15px;
        margin-right: -15px;
    }
    .navbar-fixed-top {
        position: absolute;
    }
    .container {
        width: auto;
    }
    .navbar-fixed-top,.navbar-fixed-bottom {
        margin-left: 0px;
        margin-right: 0px;
    }
    .navbar .container {
        width: auto;
    }
    .carousel-table td {
        display: table-row;
        font-size: 85%;
    }
    .carousel-table td.img {
        text-align: center;
    }
    .carousel-table td h3 {
        font-size: 16px;
        line-height: 30px;
    }
    .carousel-control {
        font-size: 40px;
        height: 25px;
        width: 25px;
        line-height: 20px;
    }
}